{% load static %}
<!-- Footer Start -->
<div class="footer wow fadeIn" data-wow-delay="0.3s">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="footer-contact">
                    <h2>Office Contact</h2>
                    <p><i class="fa fa-map-marker-alt"></i>Plot 1847 Mohammed Mahathir Street, Asokoro, Abuja
                        Nigeria</p>
                    <p><i class="fa fa-phone-alt"></i>+234-1-2778400 | +234-1-2778401 | +234-1-2778402</p>
                    <p><i class="fa fa-envelope"></i> contactus@enlconsortium.com</p>
                    <div class="footer-social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-link">
                    <h2>Our Operations</h2>
                    <a href="">Exploration Operation</a>
                    <a href="">Technical Report </a>
                    <a href="">Geological Advice</a>
                    <a href="">Geological Surveys</a>
                    <a href="">Exploration Management</a>
                    <a href="">Topographic Surveys</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-link">
                    <h2> Pages</h2>
                    <a href="about.html">About Us</a>
                    <a href="team.html">Team</a>
                    <a href="application.html">Career</a>
                    <a href="media.html">Media</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="newsletter">
                    <h2>Newsletter</h2>
                    <p>
                        REGISTER FOR NEWSLETTER<br>
                        Get Latest Company News
                    </p>
                    <div class="form">
                        <input class="form-control" placeholder="Email here">
                        <button class="btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line" style="background-color: white; height: 1px;"></div>

    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <a href="#">Enl Gold Project</a>, All Right Reserved.</p>
            </div>
            <div class="col-md-6">
                <p>Designed By <a target="_blank" href="https://www.linkedin.com/in/john-abe-601247236/">John Abe</a>,
                    <a target="_blank" href="https://www.linkedin.com/in/oluwatimilehin-otunla-isaac/">Otunla
                        Oluwatimilehin Isaac</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->