{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>

<body>

    <div class="message-container">
        <h1>Oops! No Available Jobs</h1>
        <p>We currently do not have any available job openings. However, we encourage you to use the application form to
            send us your CV for future opportunities. We will keep your information on file and contact you when a
            position that matches your qualifications becomes available.</p>
        <a href="{% url 'core:application'}" class="btn btn-primary apply-button">Submit Your CV</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock content %}