{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Service Start -->
<div class="wrapperr">
    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <p>Our Operations</p>
                <h2> Full Scale Corporate Mining</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="img/Exploration.JPG" alt="Image">
                            <div class="service-overlay">
                                <p>

                                    We meticulously plan and execute exploration programs, adhering to strict timelines
                                    and budget constraints.
                                    Our streamlined approach optimizes resource allocation and minimizes delays
                                </p>
                            </div>
                        </div>
                        <div class="service-text">
                            <h3>Exploration Operation</h3>
                            <a class="btn" href="img/Exploration.JPG" data-lightbox="service">+</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="images/Service 2.jpeg" alt="Image">
                            <div class="service-overlay">
                                <p>

                                    Our independent technical reports, prepared by Qualified and Competent Persons,
                                    provide robust assessments.
                                    These reports guide investment decisions and instill confidence in stakeholders.

                                </p>
                            </div>
                        </div>
                        <div class="service-text">
                            <h3>Technical Report</h3>
                            <a class="btn" href="img/service-2.jpg" data-lightbox="service">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="img/Geological Advice.jpg" alt="Image">
                            <div class="service-overlay">
                                <p>
                                    We Provide expert geological advice, target generation, and field mapping.
                                    Assist clients in understanding orebody formation and distribution within various
                                    geological settings.
                                    Offer mineral system modeling and exploration strategy recommendations
                                </p>
                            </div>
                        </div>
                        <div class="service-text">
                            <h3>Geological Advice</h3>
                            <a class="btn" href="img/Geological Advice.jpg" data-lightbox="service">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="img/Geophysical Surveys.JPG" alt="Image">
                            <div class="service-overlay">
                                <p>
                                    We Conduct geophysical surveys to identify subsurface features, mineral deposits,
                                    and structural anomalies.
                                    Utilize techniques such as ground-penetrating radar, electromagnetic surveys, and
                                    seismic imaging.

                                </p>
                            </div>
                        </div>
                        <div class="service-text">
                            <h3>Geophysical Surveys</h3>
                            <a class="btn" href="img/Geophysical Surveys.JPG" data-lightbox="service">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="images/service4.jpg" alt="Image">
                            <div class="service-overlay">
                                <p>
                                    We Manage exploration programs efficiently, adhering to timelines and budgets.
                                    Coordinate drilling operations, safety protocols, and community engagement.
                                    Compile independent technical reports as Qualified and Competent Personnel.
                                </p>
                            </div>
                        </div>
                        <div class="service-text">
                            <h3>Exploration Management</h3>
                            <a class="btn" href="images/service4.jpg" data-lightbox="service">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">

                    <div class="service-item">
                        <div class="service-img">
                            <img src="images/Service5.jpg" alt="Image">
                            <div class="service-overlay">
                                <p>
                                    We have a core shark facility for precise examination of geological cores.
                                    We Analyze mineral composition, structural integrity, and resource potential.
                                    Providing valuable insights for decision-making and resource optimization.

                                </p>
                            </div>
                        </div>
                        <div class="service-text">
                            <h3>Topographic Surveying</h3>
                            <a class="btn" href="images/Service5.jpg" data-lightbox="service">+</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- Service End -->


<!-- FAQs Start -->
<div class="faqs">
    <div class="container">
        <div class="section-header text-center">
            <p>Frequently Asked Question</p>
            <h2>You May Ask</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="accordion-1">
                    <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                                What is the ENL Gold Project?
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                The ENL Gold Project is ENL Consortium's venture into precious metals mining,
                                specifically focused on gold mining operations.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo">
                                Where is the ENL Gold Project located?
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                The ENL GOLD Project has an office located in Ilaje,Ilesha, Osun State, Nigeria
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                                Who is leading the ENL Gold Project?
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                The ENL Gold Project is under the leadership of Mrs. Ajayi-OBE, who is the CEO of the
                                ENL Gold Project division.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">
                                What is ENL Consortium's experience in gold mining?
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                ENL Consortium is a diversified company, and the Gold Project represents their venture
                                into the precious metals mining sector.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseFive">
                                What stage is the ENL Gold Project currently in?
                            </a>
                        </div>
                        <div id="collapseFive" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                The ENL Gold Project is currently in its exploration stage with six cadastrals.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="accordion-2">
                    <div class="card wow fadeInRight" data-wow-delay="0.1s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseSix">
                                Does ENL Consortium have the necessary expertise for gold mining?
                            </a>
                        </div>
                        <div id="collapseSix" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                Yes, ENL Consortium employs an expert team of professionals with experience in various
                                core business areas, including mining operations.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInRight" data-wow-delay="0.2s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven">
                                Is the ENL Gold Project looking for investors and partners?
                            </a>
                        </div>
                        <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                Yes, ENL Consortium is actively seeking technical partnerships and investments for the
                                development of their Gold Project and other mineral mining operations.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInRight" data-wow-delay="0.3s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseEight">
                                What minerals is ENL Consortium focused on mining?
                            </a>
                        </div>
                        <div id="collapseEight" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                Besides gold, ENL Consortium is interested in developing mining operations for lithium,
                                lepidolite, spodumene, tantalite, galena lead, copper, platinum, zinc, bismuth,
                                chalcopyrite, and columbite.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInRight" data-wow-delay="0.4s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseNine">
                                What makes ENL Consortium a suitable partner for mineral mining projects?
                            </a>
                        </div>
                        <div id="collapseNine" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                ENL Consortium has a team of experienced professionals with expertise in various core
                                business areas, including mining operations, and a proven track record in executing
                                multi-disciplinary projects.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- FAQs End -->

{% endblock content %}