{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
    body {
        padding-top: 20px;
    }

    .media-header {
        margin-bottom: 30px;
        text-align: center;
        text-transform: capitalize;
        color: #ff6600;
        font-weight: bold;
    }

    .media-card {
        margin-bottom: 20px;
    }

    .media-card img {
        height: 200px;
        object-fit: cover;
    }

    .media-card-title {
        font-size: 1.2em;
        font-weight: bold;
    }
</style>
{% endblock style %}
{% block content %}
<br>
<br>

<!--Media Start -->

<div class="container">
    <h1 class="media-header">Our Machinery and Equipment</h1>

    {% if is_machine_and_equipments_exist %}
    <div class="row">
        {% for machine in machine_and_equipments %}
        <div class="col-md-4">
            <div class="card media-card">
                <img src="{{machine.picture.url}}" class="card-img-top" alt="Excavator">
                <div class="card-body">
                    <h5 class="media-card-title">{{machine.name}}</h5>
                    <p class="card-text">{{machine.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>
<!--Media End -->

{% endblock content %}