{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<br>
<!--Our album start-->
<div class="container">
    <h1 class="album-header">Our Album</h1>

    {% if is_photo_album_exist %}
    <div class="row">
        {% for photo_album in photo_albums %}
        <div class="col-md-4">
            <div class="card album-card">
                <img src="{{photo_album.picture.url}}" class="card-img-top" alt="{{photo_album.short_description}}">
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}


</div>
<!--Our album End-->
{% endblock content %}