{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<br>
<!--Our album start-->
<div class="container">
    <h1 class="album-header">Our Album</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/men at work 1.JPG" class="card-img-top" alt="Men at work 1">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/men at work 2.JPG" class="card-img-top" alt="Men at work 2">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/men at work 3.JPG" class="card-img-top" alt="Men at work 3">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/Men at work 4.JPG" card-img-top" alt="Men at work 4">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/service4.jpg" class="card-img-top" alt="Men at work 5">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/Service5.jpg" class="card-img-top" alt="Men at work 6">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/service1.jpg" class="card-img-top" alt="Project Image 1">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/service2.jpg" class="card-img-top" alt="Project Image 2">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/album 17.jpeg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/MEN AT WORK 11.jpg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/MEN AT WORK 12.jpg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/album 1.jpeg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/Album 2.jpeg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/album 3.jpeg" card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/album 4.jpeg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/album 6.jpeg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/album 7.jpeg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/album 8.jpeg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/album 9.jpeg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/album 10.jpeg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/album 11.jpeg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/album 12.jpeg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/album 13.jpeg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/album 14.jpeg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/album 15.jpeg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/album 16.jpeg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <img src="images/MEN AT WORK 13.jpg" class="card-img-top" alt="Project Image 3">
            </div>
        </div>
    </div>

    <!-- Videos Section -->
    <div class="row">
        <div class="col-md-4">
            <div class="card album-card">
                <video controls muted>
                    <source src="images/core shark.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <video controls muted>
                    <source src="images/WhatsApp Video 2024-05-07 at 21.39.23_f1c468cc.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <video controls muted>
                    <source src="images/video coreshark.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card album-card">
                <video controls muted>
                    <source src="images/album 5.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <!-- Additional video slots can be added similarly -->
    </div>

</div>
<!--Our album End-->
{% endblock content %}