{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
    .form-section {
        margin-bottom: 20px;
    }

    .form-container {
        display: flex;
        flex-direction: column;

    }

    h1 {
        text-align: center;
        font-weight: bolder;
        width: 100%;
        color: #ff6600;

    }

    h7 {
        margin-left: 0 !important;
        font-size: 30px;
        color: #030f27;
        font-weight: bolder;
    }

    .btn {
        background-color: #ff6600;
        border-color: #cd8351;

    }

    .btn:hover {
        background-color: #cd8351;
        border-color: #ff6600;
    }
</style>
{% endblock style %}
{% block content %}
<br>
<br>
<br>
<div class="container form-container">
    <h1>APPLICATION FORM </h1>
    <form id="applicationForm" action="{% url 'jobs:application' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-section">
            <h7>Personal Information</h7>
            <div class="form-group">
                <label for="firstName">{{form.first_name.label}}</label>
                {{form.first_name}}
            </div>
            <div class="form-group">
                <label for="lastName">{{form.last_name.label}}</label>
                {{form.last_name}}
            </div>
            <div class="form-group">
                <label for="dateOfBirth">{{form.date_of_birth.label}}</label>
                {{form.date_of_birth}}
            </div>
            <div class="form-group">
                <label for="gender">{{form.gender.label}}</label>
                {{form.gender}}
            </div>

        </div>

        <div class="form-section">
            <h7>Contact Details</h7>
            <div class="form-group">
                <label for="email">{{form.email.label}}</label>
                {{form.email}}
            </div>
            <div class="form-group">
                <label for="phone">{{form.phone_number.label}}</label>
                {{form.phone_number}}
            </div>
            <div class="form-group">
                <label for="address">{{form.address.label}}</label>
                {{form.address}}
            </div>
        </div>

        <div class="form-section">
            <h7>Education</h7>
            <div class="form-group">
                <label for="education">{{form.highest_education_level.label}}</label>
                {{form.highest_education_level}}
            </div>
            <div class="form-group">
                <label for="school">{{form.school.label}}</label>
                {{form.school}}
            </div>
        </div>

        <div class="form-section">
            <h7>Work Experience</h7>
            <div class="form-group">
                <label for="experience">Describe Your Work Experience</label>
                {{form.work_experience}}
            </div>
        </div>

        <div class="form-section">
            <h7>Resume</h7>
            <div class="form-group">
                <label for="resume">Upload Your Resume</label>
                {{form.resume}}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit Application</button>
    </form>
</div>
{% endblock content %}