{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Event Start -->

<div class="blog">
  <div class="container">
    <div class="section-header text-center">
      <p>EVENTS</p>
      <h2>Our Latest Events</h2>
    </div>
    {% if is_events_exist %}
    <div class="row">
      {% for event in events %}
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="blog-item">
          <div class="blog-img">
            <img src="{{event.picture.url}}" alt="Image">
          </div>
          <div class="blog-title">
            <h3>{{event.name}} </h3>
            <a class="btn" href="#" data-toggle="modal" data-target="#eventModal{{forloop.counter}}">+</a>
          </div>
          <div class="blog-meta">
            {% if event.topic %}<p><a href="">{{event.topic}}</a></p>{% endif %}
            {% if event.by %}<p>By<a href="">{{event.by}}</a></p>{% endif %}
            {% if event.for %}<p>for<a href="">{{event.for}}</a></p>{% endif %}
          </div>
          <div class="blog-text">
            <p>{{event.description}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>


{% for event in events %}
<!-- Event Modal Start -->
<div class="modal fade" id="eventModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">{{event.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="eventSlideshow" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            {% for image in event.images.all %}
            <li data-target="#eventSlideshow" data-slide-to="{{forloop.counter}}"
              class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}
            <!-- Add more indicators for additional images -->
          </ol>
          <div class="carousel-inner">
            {% for image in event.images.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{image.file.url}}" class="d-block w-100" alt="Event Image {{forloop.counter}}">
            </div>
            {% endfor %}
            <!-- Add more carousel items for additional images -->
          </div>
          <a class="carousel-control-prev" href="#eventSlideshow" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#eventSlideshow" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}


{% endblock content %}